{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-one-expression-per-line": "off",
    "quotes": [2, "double"],
    "no-console": 1,
    "react/destructuring-assignment": [false, "never"],
    "jsx-a11y/label-has-associated-control": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/anchor-is-valid": "off"
  },
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"]
}
