@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: rgb(248, 242, 236);
  }

  svg {
    @apply inline-block h-6 w-6;
  }

  a:hover {
    @apply cursor-pointer;
  }

  /* Posts */
  .prose {
    @apply prose-headings:!mb-3 prose-h3:italic prose-a:!decoration-dashed prose-a:underline-offset-8 prose-blockquote:border-opacity-50 prose-blockquote:opacity-80 prose-figcaption:opacity-70 prose-code:rounded prose-code:bg-opacity-75 prose-code:p-1 prose-code:before:!content-none prose-code:after:!content-none prose-ul:overflow-x-clip prose-th:border prose-td:border prose-td:border-black prose-img:!my-2 prose-img:mx-auto prose-img:border-[1px] prose-img:border-black prose-hr:!border-black;
  }
  .prose a {
    @apply break-words;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* Code */
  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }

  .focus-outline {
    @apply outline-2 outline-offset-1 focus-visible:no-underline focus-visible:outline-dashed;
  }
}
