.name {
  font-family: JetBrainsMono, sans-serif;
  font-style: normal;
}

.job-title {
  font-family: JetBrainsMono, sans-serif;
  font-style: italic;
}

.social-icon {
  font-family: JetBrainsMono, sans-serif;
  font-weight: bold;
}

.invisble {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.margin-10 {
  margin-top: 10px;
}
