@font-face {
  font-family: JetBrainsMono;
  src: url("/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("/JetBrainsMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: JetBrainsMono;
  src: url("/JetBrainsMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html,
body {
  height: 100%;
  background-color: #f5f5f5;
}
