---
import Card from "@components/Card";
import Layout from "@layouts/Layout.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { getCollection } from "astro:content";

const recentPosts = getSortedPosts(await getCollection("blog"));
---

<Layout>
  <main>
    {
      recentPosts.length > 0 && (
        <section>
          <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="flex w-full justify-center">
      <a href="/posts" class="hover:underline">all posts</a>
    </div>
  </main>
</Layout>
