<footer class="flex w-full justify-center py-4">
  <span><a href="/imprint" class="link">imprint</a></span>
  <span>&nbsp;|&nbsp;</span>
  <span><a href="/privacy" class="link">privacy</a></span>
</footer>

<style>
  .link {
    @apply underline decoration-dashed underline-offset-4;
  }
</style>
