---
import Hr from "./Hr.astro";
---

<header>
  <a class="flex w-full justify-center" href="/">
    <pre
      class="no-copy mt-4 overflow-x-auto whitespace-pre font-mono text-sm sm:hidden">
 _ __ ___   __ _ _ __ ___ 
| '_ ` _ \ / _` | '__/ __|
| | | | | | (_| | | | (__ 
|_| |_| |_|\__,_|_|  \___|
</pre>

    <pre
      class="no-copy hidden overflow-x-auto whitespace-pre font-mono text-sm sm:block">         
                                                      _                 
 _ __ ___   __ _ _ __ ___   _ __ ___   ___   __ _  __| | __ _ _ __  ____
| '_ ` _ \ / _` | '__/ __| | '_ ` _ \ / _ \ / _` |/ _` |/ _` | '_ \|_  /
| | | | | | (_| | | | (__  | | | | | | (_) | (_| | (_| | (_| | | | |/ / 
|_| |_| |_|\__,_|_|  \___| |_| |_| |_|\___/ \__, |\__,_|\__,_|_| |_/___|
                                            |___/
</pre>
  </a>

  <div class="my-4 flex justify-center gap-2">
    <a href="/" class="hover:underline">home</a>
    <a href="/posts" class="hover:underline">posts</a>
    <a href="/search" class="hover:underline">search</a>
    <a href="/rss.xml" target="_blank" class="hover:underline">rss</a>
  </div>

  <Hr noPadding />
</header>
