---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
  id?: string;
}

const { noPadding = false, ariaHidden = true, id } = Astro.props;
---

<div class={`max-w-3xl mx-auto ${noPadding ? "px-0" : "px-4"}`} id={id}>
  <hr class="border-black" aria-hidden={ariaHidden} />
</div>
