---
import { SITE } from "@config";
import Layout from "./Layout.astro";
import Main from "./Main.astro";

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${SITE.title}`}>
  <Main pageTitle={frontmatter.title}>
    <slot />
  </Main>
</Layout>
